#.project
bin/
build/
.gradle
test/
.classpath
.project
.settings/
.idea/
lib/
out/
samples/auth/src/main/main.iml
samples/token/src/main/main8.iml
src/certificationTest/certificationTest.iml
src/functionalTest/functionalTest.iml
src/main/main1.iml
*.iml
