#.project
bin/
.gradle
.classpath
.project
.settings/
/.clover
.idea/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_mockito_mockito_all_1_9_5.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/vcs.xml
.idea/workspace.xml
lib/
out/

